body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
}

.container {
  margin-top: 100px;
  
}

button {
  padding: 20px 30px;
  margin: 10px;
  font-size: 32px;
  cursor: pointer;
}